# Compiled files
*.tfstate.*
*.tfstate.*.backup
*.tfstate.backup
# plan files
*.plan
# Module directory
.terraform/
# Credentials directory
credentials/
prometheus-operator/
gethelm.sh
#All Compiled files in dataproc
# Compiled files
dataproc/*.tfstate
dataproc/*.tfstate.*.backup
# dataproc plan files
dataproc/*.plan
# dataproc terraform
dataproc/terraform/
